@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 100% 7%;
    --foreground: 257 20% 90%;
    --card: 257 80% 10%;
    --card-foreground: 257 20% 90%;
    --popover: 257 100% 7%;
    --popover-foreground: 257 20% 90%;
    --primary: 179 100% 50%;
    --primary-foreground: 257 100% 7%;
    --secondary: 251 100% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 257 50% 15%;
    --muted-foreground: 257 20% 60%;
    --accent: 251 100% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 251 30% 25%;
    --input: 251 30% 25%;
    --ring: 179 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
